/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    width: 70px;
    height: 70px;
    margin-left: -160px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: #ff914d;
    height: 11vh;
  }
  
  main {
    background: url("bg.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
  }
  .section-title {
    text-align: center; /* Centraliza o texto horizontalmente */
    font-size: 1.5rem; /* Tamanho da fonte do título */
    color: #5e3023; /* Cor do título */
    margin-top: 20px; /* Espaçamento superior */
    font-family: 'poppins' sans-serif;
}
  
  .nav-list {
    list-style: none;
    display: flex;

  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: linear-gradient(-45deg, #ffce51, #ff7253, #fd5754);
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }


body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6e1d8; /* Cor de fundo suave */
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
}

.product {
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    padding: 20px;
    border: 2px solid #d9b29c; /* Cor da borda */
    margin: 10px;
    background-color: #fff;
    text-align: center;
    transition: transform 0.2s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
    font-family: 'poppins', sans-serif;
}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Efeito de destaque no hover */
}

.product img {
    max-width: 100%;
}

.product h2 {
    font-size: 1.5rem; /* Tamanho da fonte maior */
    margin: 15px 0;
    color: #5e3023; /* Cor do título */
}

.product p {
    font-size: 1rem; /* Tamanho da fonte do texto maior */
    color: #8a6256; /* Cor do texto */
}

button {
    background-color: #b94d30; 
    color: #fff; 
    border: none;
    padding: 12px 24px; 
    margin-top: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #983c28; 
}
.section-title h1 {
  color: #5e3023;
  font-family: 'poppins', sans-serif; 
}
.footer {
  background:#ff914d;
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
    width: 97%;
}

.footer-logo img {
  max-width: 100px;
  height: auto;
}

.footer-contact {
  text-align: right;
  padding-right: 20px
}

.footer-contact h3 {
  font-size: 18px;
  margin: 0;
}

.footer-contact p {
  font-size: 14px;
  margin: 5px 0;
}