@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    width: 70px;
    height: 70px;
    margin-left: -160px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: #ff914d;
    height: 11vh;
  }
  
  main {
    background: url("bg.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;

  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: linear-gradient(-45deg, #ffce51, #ff7253, #fd5754);
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  .footer {
    background:#ff914d;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
  }
  
  .footer-logo img {
    max-width: 100px;
    height: auto;
  }
  
  .footer-contact {
    text-align: right;
    padding-right: 20px;
    font-family: 'poppins' sans-serif;
  }
  
  .footer-contact h3 {
    font-size: 18px;
    margin: 0;
    font-family: 'poppins' sans-serif
  }
  
  .footer-contact p {
    font-size: 14px;
    margin: 5px 0;
    font-family: 'poppins' sans-serif
  }
 .bannerc{
background-size: 100%;
background-repeat: no-repeat;
padding: 10px 10px;
border-radius: 0px; 
align-items: center;
text-align: center;
justify-items: center;
 }  
 .bannerc img{
  width: 90%;
  height:90%
 }